/* Will be compiled down to a single stylesheet with your sass files */
/* line 2, ../../app/styles/main.scss */
.hero-unit {
  margin-top: 10px;
  height: 330px;
  padding: 10px;
}
/* line 7, ../../app/styles/main.scss */
.hero-unit .img-container {
  text-align: center;
}
/* line 11, ../../app/styles/main.scss */
.hero-unit pre {
  font-size: 26px;
  line-height: 30px;
  border: none;
  background: none;
  word-break: normal;
}

/* line 20, ../../app/styles/main.scss */
.slide-controls {
  margin: auto;
  text-align: center;
}
/* line 27, ../../app/styles/main.scss */
.slide-controls button:first-child {
  margin-right: 10px;
}
/* line 31, ../../app/styles/main.scss */
.slide-controls button:last-child {
  margin-left: 10px;
}
